<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ServerName" value="Server Name here"/>
    <add key="ServerIP" value="Server ip here"/>
    <add key="ServerPort" value="22100"/>
    <add key="UnknownVar1" value="3"/>
    <add key="UnknownVar2" value="3"/>
    <add key="UnknownVar3" value="1"/>
    <add key="UnknownVar4" value="0"/>
    <add key="UnknownVar5" value="0"/>
    <add key="UnknownVar6" value="0"/>
    <add key="ServerInfo" value="Info here"/>
  </appSettings>
  <connectionStrings>
    <add name="RohanUser" providerName="System.Data.SqlClient" connectionString="Data Source=BARTEK-28447851\SQLSERVER; Initial Catalog=RohanUser;User ID=sa;Password=apoqalipsa" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
